---
const { items } = Astro.props;
---

<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    {items.map((item, i) => (
      <li>
        {i < items.length - 1 ? (
          <a href={item.url}>{item.label}</a>
        ) : (
          <span>{item.label}</span>
        )}
      </li>
    ))}
  </ol>
</nav>
