---
import tags from "../../content/tags";
import posts from "../../content/posts";

const tagCount = (slug) =>
  posts.filter(p => p.tags?.includes(slug)).length;
---

<div class="tag-cloud">
  {tags.map(tag => (
    <a
      href={`/tags/${tag.slug}`}
      style={`font-size:${0.8 + tagCount(tag.slug) * 0.15}rem`}
    >
      #{tag.title}
    </a>
  ))}
</div>
