---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <slot name="seo" />

    <!-- GA4 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9PMDL2DZJ4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9PMDL2DZJ4');
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
